<!DOCTYPE html>

<html style="height: 100%; background-color: transparent">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>管理 | 点名系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./main.css">
    <script>
        const Store = require("electron-store")
        const store = new Store
        const {
            dialog
        } = require('electron').remote
        // const Vue = require("vue") This Version of vue haven't got the tamplate, disabled.
        // const vue = new Vue
        var ipc = require('electron').ipcRenderer; // For Window Control purposes
        const fs = require('fs') // Read JSON!
        var stulist = { //Default Option; Introduction to new user
            class: "未命名",
            data: [{
                    name: "欢迎，",
                    id: 0,
                    sticky: false
                },
                {
                    name: "感谢使用点名系统！",
                    id: 1,
                    sticky: false
                }
            ] //default config
        }
    </script>
    <!-- <link href="https://cdn.bootcss.com/material-design-icons/3.0.1/iconfont/material-icons.min.css" rel="stylesheet"> -->

</head>

<body class="white-on-small" style=" font-family: '思源黑体', 'PingFang SC', 'Segoe UI';height: 100%">
    <div class="centwindow">
        <ul class="collection with-header z-depth-0" style="padding: 0px 0px;">
            <li class="collection-header teal white-text row z-depth-2 draggable" style="padding-top: 5px;margin-top: 0px;margin-bottom: 0;border-bottom: 0px
                transparent;">
                <p style="font-size: 24px;margin-top: 5px;margin-bottom: 5px;font-weight: 350;" class="col">点名系统 Plus
                    <span class="badge new" data-badge-caption="" style="margin-top: 0.85em">0.4.0</span>
                </p>
                <div class="right topbtn">
                    <a class="white-text not-draggable" title="打开" onclick="return true" id="openFile">
                        <i class="material-icons topbtn teal-hover color-transition">folder_open</i>
                    </a>
                    <a class="white-text not-draggable" title="保存" onclick="return true" id="saveFile">
                        <i class="material-icons topbtn teal-hover color-transition">save</i>
                    </a>
                    <a class="white-text not-draggable modal-trigger" title="关于" href="#aboutModal">
                        <i class="material-icons topbtn teal-hover color-transition">info</i>
                    </a>
                    <a class="white-text not-draggable modal-trigger" title="清空" href="#clrModal">
                        <i class="material-icons topbtn delbtn color-transition">delete_sweep</i>
                    </a>
                    <a class="white-text not-draggable" onclick='ipc.send("window-min");return false;' title="最小化"
                        href="#">
                        <i class="material-icons topbtn color-transition teal-hover">remove</i>
                    </a>
                    <a class="white-text not-draggable" onclick='ipc.send("window-max");return false;' title="最大化"
                        href="#">
                        <i class="material-icons topbtn color-transition teal-hover">crop_square</i>
                    </a>
                    <a class="white-text not-draggable rounded " onclick='ipc.send("window-close");return false;'
                        title="关闭" href="#">
                        <i class="material-icons topbtn color-transition red-hover">clear</i>
                    </a>
                </div>
                <!-- <button class="btn col s1 blue white-text z-depth-1 waves-light waves-effect topbtn"></button>
                                <button class="btn col s1 red white-text z-depth-1 waves-light waves-effect topbtn"></button> -->
            </li><!-- Collection Header; Window title -->
            <li class="collection-item teal" style="padding-top:0px;padding-bottom: 1px;border-bottom: 0px transparent">
                <div class="row white-text teal" style="margin-bottom: 0px">
                    <div class="col s12 teal">
                        <ul class="tabs teal">
                            <li class="tab col s3 white-text"><a href="#manage" class="active white-text">管理</a></li>
                            <li class="tab col s3 white-text"><a href="#select" class="white-text">点名</a></li>
                        </ul>
                    </div>
                </div>
            </li><!-- Collection item: Tabs -->
            <main>
                <!-- Main Content -->
                <div id="manage">
                    <li class="collection-item">
                        <div class="row" style="margin-bottom: 0px;" id="addform">
                            <input type="text" id="strin" class="validate col s10" placeholder="姓名学号，以 ' | ' 分隔"
                                value="">
                            <button type="button" class="btn col s2" style="height: 3rem;" id="addbtn"
                                v-on:click="addtrig">添加</button>
                            </form>
                        </div>

                    <li class="collection-item hide"></li>
                    <!-- Don't delete / comment this line, or the app will break XD -->

                    <!-- Student List. Rendered by Vue.js and is named 'students' -->
                    <div id="stulist" style="position: fixed;top: 183px;bottom: 0px;left: 0px;right: 0px;overflow:auto">
                        <li class="collection-item" v-for="(student,index) in list" v-if="ref">
                            <div>{{ student.name }}
                                <div class="right">
                                    <span style="margin-right:5px; font-size: 18px">{{student.id}}</span>
                                    <a class="secondary-content">
                                        <i class="material-icons delbtn dred color-transition" v-if="!student.sticky"
                                            v-on:click="del(index, true)">delete</i>
                                        <i class="material-icons disabled" v-if="student.sticky">delete</i>
                                    </a>
                                </div>
                            </div>
                        </li>
                    </div>
                </div>
                <div id="select" style="position: fixed;top: 111px;bottom: 0px;width: 100%">
                    <!-- The Selector Tab -->
                    <div class="center-align teal" style="height: 100% !important;">
                        <div class=" card-panel teal lighten-3 hoverable waves-effect waves-ripple"
                            style="width: 90%;margin-top: 10%;margin-bottom: 10%" v-on:click="dice"
                            v-on:dblclick="dblclick">
                            <p class="black-text" style="font-size: 75px;">{{text}}</p>
                            <p style="font-size: 25px">{{ id }}</p>
                        </div><br>
                        <a class="btn white black-text" v-on:click="revert">复原</a>
                        <a class="btn white red-text" v-if="totalref > 0" v-on:click="stop">停止</a>
                        <div class="progress white" style="width: 15%;margin: 0 auto;margin-top: 1em">
                            <div class="indeterminate black" v-show="totalref > 0"></div>
                        </div>
                        <p v-if="totalref > 0" class="white-text">{{ 100-Math.floor(totalref/originref*100) }}%</p>
                        <p v-if="totalref > 30000 && totalref <= 60000" class=" white-text">可能会花费较长时间，如需要取消请按上方“复原”。</p>
                        <p v-if="totalref > 60000" class=" white-text">不要瞎玩啦，如需要复原请按上方“复原”。</p>

                        <p v-if="totalref <= 0" class=" white-text">准备就绪</p>
                    </div>
                </div>
            </main>
        </ul>


    </div>
</body>
<div id="clrModal" class="modal">
    <div class="modal-content">
        <h4>警告</h4>
        <p>确认清空？此操作不可撤销！</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-red btn-flat red-text" onclick="clr()">清空</a>
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">取消</a>
    </div>
</div>
<div id="aboutModal" class="modal">
    <div class="modal-content">
        <h4>关于</h4>
        <p>@地铁狂羊，2019</p>
        <p>使用 Electron。</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">确定</a>
    </div>
</div>
<!-- <script src="jquery-3.4.1.js"></script> Disabled due to unusable-->
<script src="vue.js"></script>
<script src="materialize.js"></script>
<script>
    function $(query) { //Fake Jquery :D but not used often
        return document.querySelectorAll(query)
    }
    document.addEventListener('DOMContentLoaded', function () { //Modal Init
        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elems, {
            dismissible: true
        });
    });
    // const M = require('materialize-css')

    // ! File OP : Start
    var openFile = document.getElementById('openFile')
    var saveFile = document.getElementById('saveFile')
    openFile.addEventListener('click', () => {
        let filepaths = dialog.showOpenDialog({
            title: '打开文件',
            filters: [{
                name: 'JSON',
                extensions: ['json']
            }],
            properties: ['openFile', "showHiddenFiles"]
        })
        try {
            if (filepaths != undefined && filepaths[0]) {
                fs.readFile(filepaths[0], (err, data) => {
                    console.log("Reading file: " + filepaths[0])
                    if (err) {
                        console.error(err)
                    } else {
                        console.log("error: " + err + ", data: " + data)
                        stulist = JSON.parse(data)
                        students.list = stulist.data
                        randmodal.revert()
                        M.toast({
                            html: '打开成功'
                        })

                    }
                })
            }
        } catch (e) {
            M.toast({
                html: "读取文件时错误：" + '<br>' + e
            })
        }
    })
    saveFile.addEventListener('click', () => {
        let filepaths = dialog.showSaveDialog({
            title: "保存文件",
            filters: [{
                name: 'JSON',
                extensions: ['json']
            }],
            defaultPath: stulist.class + ".json"
        }, (callback) => {
            if (callback != undefined && callback) {
                let dir = callback.split(new RegExp(/\\/))
                dir = dir[dir.length - 1].split('.')
                stulist.class = dir[0]
                console.log("Saving to: " + callback)
                fs.writeFile(callback, JSON.stringify(stulist), (err) => {
                    if (err) {
                        console.error(err)
                    } else {
                        M.toast({
                            html: '保存成功'
                        })
                    }
                })
            }
        })
    }) //File OP: End

    var tabInstance = M.Tabs.init($('.tabs'), {
        swipeable: false
    }); //Tabs Init
    var addtext = document.getElementById('strin');
    addtext.select(); //Select input textbox for default
    var cur = -1 //Current Selected Student ID

    var students = new Vue({ //Student List
        el: '#stulist',
        data: {
            list: stulist.data,
            ref: true
        },
        methods: {
            del: function (index, ifconfirm) { //Delete STUDENT w/ index
                let tempdel = stulist.data[index].name
                let delres = true /* false */ //Disabled Del Protection
                // if (ifconfirm) {
                //     delres = confirm("确定删除？")
                // } else {
                //     delres = true
                // }
                if (delres) {
                    stulist.data.splice(index, 1);
                    M.toast({
                        html: "已删除 " + tempdel,
                        classes: "red white-text"
                    })
                }

            },
            upd: function () { //UNUSED
                this.ref = false
                this.$nextTick(() => {
                    this.ref = true
                })
            }
        }
    })
    var addsec = new Vue({ //ADD area
        el: '#addform',
        methods: {
            addtrig: function () {
                this.add(document.getElementById('strin').value)
            },
            add: function (addstr) {
                /* Violent Add Controls by directly looking in DOM */
                var tempstr = ""
                tempstr = addstr
                if (tempstr) {
                    console.log("Adding w/ string: " + tempstr)

                    var addarray = tempstr.split('&')
                    addarray.forEach(function (item, index) {
                        var tempadd = {
                            name: "",
                            id: null,
                            sticky: false
                        }
                        var addArrTemp = item.split('|')
                        addArrTemp[0] = addArrTemp[0].trim()
                        // addArrTemp[1] = addArrTemp[1].trim()
                        var pass = true
                        stulist.data.forEach(function (item, index) {
                            if (item.name == addArrTemp[0] || (item.id == addArrTemp[1] &&
                                    addArrTemp[1])) {
                                pass = false;
                            }
                        });
                        if (!pass) {
                            M.toast({
                                html: "此学生已经添加过",
                                classes: 'yellow black-text'
                            })
                            console.log("Failed; Already There")

                        }
                        if (addArrTemp[0] && pass) {
                            if (!isNaN(addArrTemp[0])) {
                                M.toast({
                                    html: "姓名不能是数字"
                                })
                                return "Failed; Name is a number"
                            } else {
                                tempadd.name = addArrTemp[0]
                                if (addArrTemp[1]) {
                                    addArrTemp[1] = addArrTemp[1].trim()
                                    tempid = parseInt(addArrTemp[1]);
                                    tempadd.id = tempid
                                }
                                stulist.data.push(tempadd)
                                M.toast({
                                    html: '添加成功：' + tempadd.name,
                                    classes: 'green white-text'
                                })
                                document.getElementById('strin').value = ""
                            }
                        }
                    })
                } else {
                    console.log("Str NOT given: " + tempstr)
                    M.toast({
                        html: '请输入添加内容',
                        classes: 'yellow black-text'
                    })
                }
            }
        }
    })

    function clr() { //Clear it
        console.log(stulist)
        var stulistLen = stulist.data.length
        for (let delPointer = stulistLen - 1; delPointer >= 0; delPointer--) {
            const element = stulist[delPointer];
            console.log("Deleting: #" + delPointer)
            if (!element.sticky) {
                stulist.data.splice(delPointer, 1)
            }
        }
        M.Toast.dismissAll();
        M.toast({
            html: '清空完毕',
            classes: 'red white-text'
        })


    }

    function sleep(callback, seconds) { //UNUSED
        let waitLength = window.setTimeout(callback, seconds)
    }
    var temptimer = null
    var randmodal = new Vue({ //Selection Tab Controller
        el: '#select',
        data: {
            text: "点击来开始点名",
            id: null,
            totalref: 0,
            addLength: 0,
            originref: 0
        },
        methods: {
            shuffle: function () { //Previously Shuffles, but empty by now.
                temptimer = window.setInterval(function () {
                    if (randmodal.totalref > 0) {
                        // console.log("Shuffle @ " + randmodal.totalref)
                        if (stulist.data.length == 1) {
                            randmodal.text = "请添加更多的学生"
                        } else {
                            var randval = Math.floor(Math.random() * stulist.data.length)
                            while (randval == cur) {
                                randval = Math.floor(Math.random() * stulist.data.length)
                            }
                            cur = randval
                            randmodal.text = stulist.data[randval].name
                            randmodal.id = stulist.data[randval].id
                        }
                        randmodal.totalref -= 1
                    } else {
                        temptimer = window.clearInterval()
                    }
                }, 1)

            },
            revert: function () {
                this.totalref = 0
                this.text = '敬请期待';
                this.id = null
            },
            stop: function(){
                this.totalref=0
            },
            dice: function () {
                if (stulist.data.length <= 1) {
                    this.text = "请添加更多的学生"
                } else {
                    this.totalref += Math.floor(Math.random() * 200 + 350 + this.addLength)
                    if (this.addLength <= 4000) {
                        this.addLength += 170
                    }
                    this.originref = this.totalref
                    this.shuffle()
                }

            },
            dblclick: function () { //Easter Egg!
                if (stulist.data.length <= 1) {
                    this.text = "请添加更多的学生"
                } else {
                    this.totalref += 8000
                    this.originref = this.totalref
                    this.shuffle()
                }
            }
        }
    })
    document.getElementsByClassName('indicator')[0].classList.add('white') //Paint the indicator
</script>


</html>